ARCHIVE/
auto-save-list/
elisp-autofmt-cache/
eln-cache/
elpa/
request/
server/
straight/
transient/
\#*\#
*~
.elisp-autofmt
.last-package-update-day
.lsp-session-*
kkcrc
network-security.data
projects
session.*
tramp
